/src/js/app.js
/src/js/app1.js
/src/js/app2.js
/src/imagenes/megaman/fondo.psd
/src/imagenes/megaman/disparo.psd
/src/imagenes/megaman/megamanRostro.psd
/src/imagenes/megaman/megaman.png
/src/imagenes/megaman/correr1.png
/src/imagenes/megaman/correr2.png
/src/imagenes/megaman/correr3.png
/src/imagenes/megaman/correr4.png
/src/imagenes/megaman/correr5.png
/src/imagenes/megaman/correr6.png
/src/imagenes/megaman/correr7.png
/src/imagenes/megaman/correr8.png
/src/imagenes/megaman/correr9.png
/src/imagenes/megaman/correr10.png
/src/imagenes/megaman/correr11.png
/src/imagenes/megaman/parado.png
/src/imagenes/megaman/seguir.png
/src/imagenes/megaman/seleccionado.png
/src/imagenes/megaman/noCogido.png
/src/imagenes/megaman/megamanRostro.png
/src/imagenes/megaman/disparo.jpg
/src/imagenes/megaman/coger.png